.header{
    display: flex;
}
#logo-text{
    display: flex;    
}
.links{
    border-right: 1px solid black;
    padding-right: 2rem;
}
.links a{
    margin-right: 2rem;
}
.links a:hover{
    background-color: aquamarine;
    color: black;
    padding: 5px 15px;
    border-radius: 10px;
}
